.device {
  /* border: 1px solid rgb(73, 71, 71); */
  /*position: absolute; /*for dragging*/
  cursor: move;
  box-shadow: 2px 2px 10px;
  background-color: #a7a4a4;
  max-width: 300px;
}

.device-text {
  height: 50px;
  /* background-color: #a7a4a4; */
}

/* .device-text:hover {
  background-color: rgb(73, 71, 71);
  color: #fdfdfd;
} */

.device:hover {
  background-color: rgb(73, 71, 71);
  color: #fdfdfd;
}

.device-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* ------------ Title for Containers ----- */
.title {
  font-size: x-large;
  font-weight: bold;
  background-color: #d3d3d3;
  height: 80px;
}

@media only screen and (max-width: 680px) {
  .title {
    font-size: x-small;
  }
}
