/* --------- Owned Devices ------------*/
.owned-device {
  background-color: rgb(214, 219, 224);
  height: 75px; /* 3px bigger than thumbnail height*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.owned-device:hover {
  background-color: rgb(180, 211, 243);
  transform: scale(1.01);
}

.owned-image {
  float: left;
  padding-right: 15px;
  max-width: 60%;
}

.modify-device-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15px;
}

.count {
  padding: 2px;
}

.delete-button {
  width: 20px;
  height: 20px;
  padding: 0;
  margin-right: 5%;
  margin-left: 5%;
  transition: 0.01s all ease-in-out;
  background: none;
  border: none;
}
.delete-button:hover {
  transform: scale(1.15);
}

.change-cnt-button {
  font-size: x-small;
}

.owned-device-title {
  width: 50%;
}
/* Count disappears if screen smallest */
@media only screen and (max-width: 760px) {
  .modify-device-container {
    display: none;
  }
}

/* Only trashcan and image if smaller */
@media only screen and (max-width: 910px) {
  .count-container {
    display: none;
  }
}

/* Title disappears if screen small */
@media only screen and (max-width: 1030px) {
  .owned-device {
    padding: 0;
  }
  .owned-device-title {
    display: none;
  }
  .count {
    font-size: x-small;
  }
  .change-cnt-button {
    padding: 1px;
  }
}

/* Text smaller if medium. */
@media only screen and (min-width: 960px) and (max-width: 1248px) {
  .owned-device-title {
    font-size: x-small;
  }
  .modify-device-container {
    font-size: x-small;
  }
  .change-cnt-button {
    padding: 2px;
  }
}
