/* --------- Owned Devices ------------*/
.owned-device {
  background-color: rgb(214, 219, 224);
  height: 75px; /* 3px bigger than thumbnail height*/
  box-shadow: 1px 1px 5px;
}

.owned-image {
  float: left;
  padding-right: 15px;
}

.owned-device-title {
  float: left;
  width: 10%;
  padding-top: 10px;
  position: absolute;
}

.modify-device-container {
  width: 20%;
  float: right;
  height: 90%;
  margin: 2px;
}

.count {
  padding: 5px;
}

.delete-button {
  padding: 0;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
}

.change-cnt-button {
  font-size: x-small;
}

.count-container {
  display: flex;
  margin-top: 20%;
}

/* Count disappears if screen smallest */
@media only screen and (max-width: 760px) {
  .modify-device-container {
    display: none;
  }
}

/* Only trashcan and image if smaller */
@media only screen and (max-width: 910px) {
  .count-container {
    display: none;
  }
}

/* Title disappears if screen small */
@media only screen and (max-width: 960px) {
  .owned-device {
    padding: 0;
  }
  .owned-device-title {
    display: none;
  }
  .count {
    font-size: x-small;
  }
  .change-cnt-button {
    padding: 1px;
  }
}

/* Text smaller if medium. */
@media only screen and (min-width: 960px) and (max-width: 1248px) {
  .owned-device-title {
    font-size: x-small;
    width: 7%;
  }
  .modify-device-container {
    font-size: x-small;
  }
  .change-cnt-button {
    padding: 2px;
  }
}
